* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.birthday-hero-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 60px 0px 0px;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}
.birthday-hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: radial-gradient(95.63% 51.12% at 29.13% 53.33%, #eef9ff 0%, #97daff 100%);
  z-index: -1;
}
.birthday-hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  z-index: 2;
  justify-content: center;
  overflow: hidden;
}
/* decorations */
.birthday-decor {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.birthday-decor img {
  position: absolute;
  width: clamp(410px, 80vw, 953px);
  height: clamp(148px, 33vw, 393px);
  z-index: 1;
}
.right-balloons {
  left: 6px;
  top: 64px;
}
.left-balloons {
  bottom: 40px;
  right: 10px;
}
/* confetti */
.birthday-confetti {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: url("birthday-sale-assets/mobile-confetti-rbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 75%;
  bottom: 30px;
}
/* wave */
.birthday-hero-wrapper svg {
  z-index: 2;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: auto;
  display: block;
}
/* left image */
.birthday-hero-container .birthday-sale-main {
  width: clamp(331px, 42vw, 500px);
  height: auto;
  align-self: center;
}
/* grid */
.birthday-grid-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  align-items: center;
  height: fit-content;
  align-self: center;
}

.grid-icon-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  padding: 5px 0;
  transition: transform 0.2s ease;
}
.grid-icon-card a:hover {
  transform: scale(1.1);
}
.grid-icon-card a .icon-card-label {
  font-size: clamp(11px, 2vw, 15px);
  text-align: center;
  font-weight: 600;
  color: #0b63ff;
  line-height: 12.54px;
}
.grid-icon-card a img {
  /* height: 50px; */
  width: clamp(98px, 18vw, 190px);
  transition: transform 0.2s ease;
}

@media (width > 767px) {
  .birthday-hero-container {
    flex-direction: row;
  }
  /* grid */
  .birthday-grid-icon {
    gap: 18px;
  }
  /* confetti */
  .birthday-confetti {
    z-index: 0;
    background-image: url("birthday-sale-assets/desktop-confetti-rbg.png");
    bottom: 30px;
  }
  /* balloons */

  .right-balloons {
    left: unset;
    top: -75px;
    right: -85px;
  }
  .left-balloons {
    bottom: 20px;
    right: 270px;
  }
}
@media (width > 1023px) {
  /* grid */
  .birthday-grid-icon {
    gap: 23px;
  }
  /* balloons */
  .right-balloons {
    left: unset;
    top: -75px;
    right: -85px;
  }
  .left-balloons {
    bottom: 15px;
    right: unset;
  }
}
